
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
    --main-color: #2b9348;
    --text-color: #171f07;
    --container-color: #f1fcdc;
    --header-height: 4.5rem;
    --big-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    border: none;
    outline: none;
    transition: 0.6s;
}
html{
    scroll-behavior: smooth;
}
html,body{
    /* width:100%;
    height:100%;
    margin:0;
    padding:0; */
    overflow-x: hidden;
    }
body{
    font-size: var(--normal-font-size);
    background-color: #fff;
    color: var(--text-color);
    line-height: 1.6;
}
#imgC{
    width: 100%;
    height: 80%;

}



/* Start Menu Categorias */
.menuC{
    padding: rem 2rem;
}
.menuC h1{
    font-family: 'Italiana', serif;
    font-size: var(--h1-font-size);
    letter-spacing: 4px;
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
}
.menuC h2{
    text-align: center;
    font-size: var(--h2-font-size);
    font-weight: lighter;
    letter-spacing: 5px;
    color: var(--text-color);
    line-height: 24px;
    margin-bottom: 1rem;
}
.menuC .container{
    max-width: 90%; /*1024*/
    width: calc(100% - 2rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.menuC .card{
    position: relative;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.menuC .card:hover{
    transform: scale(1.1);
}
.menuC .card img{
    border-radius: 8px 8px 0 0;
}
.menuC .card-data h3{
    font-size: var(--h2-font-size);
    font-weight: bold;
    color:rgb(255, 0, 0);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.menuC .card-title{
    margin-left: 1rem;
}
.menuC .card-title small{
    font-size: var(--normal-font-size);
    font-weight: lighter;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.menuC .card-price{
    margin-top: 1.5rem;
}
.menuC .card-price span{
    font-size: var(--h2-font-size);
    font-weight: bold;
    position: relative;
    left: 1.5rem;
    bottom: 1.5rem;
    margin-right: 3rem;
}
.card i{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #000000;
    /*background-color: var(--main-color);*/
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.card i:hover{
    background-color: #cf6fdb;
    color: #fff;
}
/* End Menu Section */



/* Start Media Queries */
@media (max-width: 768px){
    :root{
        --big-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
    }
    .header .container{
        margin: 0.2rem 0;
    }
    .header .nav{
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 60%;
        text-align: right;
        padding: 0 2rem;
        background-color: var(--container-color);
        border-radius: 150px 0 0 0;
        box-shadow: -10px -8px 4px rgba(0, 0, 0, 0.1);
        z-index: 99999;
    }
    .header .nav.show-nav{
        right: 0;
    }
    .nav ul{
        display: block;
    }
    .nav ul li{
        margin-bottom: 1rem;
    }
    .nav ul li:first-child{
        margin-top: 8rem;
    }
    .header .toggle-menu{
        display: block;
    }
    .home .container{
        padding: 2rem 1rem;
        grid-template-columns: unset;
    }
    .home .buttons{
        padding: 0 3rem;
        display: block;
    }
    .home .buttons a:first-child{
        margin-bottom: 1.5rem;
    }
    .home img{
        width: 50%;
        margin: 0 auto;
    }
    .about .container{
        grid-template-columns: unset;
    }
    .menuC .container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .contact .container{
        grid-template-columns: unset;
    }
    .footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 560px) {
    .home img{
        width: 70%;
        margin: 0 auto;
    }
    .menuC .container{
        grid-template-columns: unset;
    }
    .footer .container{
        grid-template-columns: unset;
    }
}





































































