
*{
    /*margin: 0;
	padding: 0;
	box-sizing:border-box;*/
    margin-top: 2px;
}

/*Busqueda*/

#buscar{
    border-radius: 30px;
    width: 180px;
    border: solid 1.8px rgb(230, 115, 214);
}
#btnBuscar{
    border-radius: 10px;
    border: solid 1.8px rgb(230, 115, 214);
    text-emphasis-color:rgb(230, 115, 214) ;
}

/*---------------------------------*/

/*Ribbon*/

#ribbon1{
    background-color: #e3a0ef;
    margin-top: 90px;
    size: 50px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*---------------------------------*/


/* Botones slider*/

.btnAtras{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #f81717;

}
.btnSiguiente{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #fc3030;
}

/*---------------------------------*/



/*Follow Us*/

.card-border{
    background-color:#ce21a3;
    border: solid 1.8px blue;
    border-radius: 20px;
    transition: all ease-out 1s;
    text-align: center;
}

.card-border2{
    background-color: transparent;
    border: solid 1.8px blue;
    border-radius: 20px;
    transition: all ease-out 1s;
    text-align: center;
}

.card-border2:hover{
    border:solid 1.8px brown;
    transform: scale(1.02);
}

/*---------------------------------*/


/*Promoción*/

.cardPro{
    height: 340px;
    margin-top: 75px;
    background-color:rgb(220, 224, 155);
}

.card-text{
    color:rgb(0, 0, 0);  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-text2{
    color:rgb(0, 0, 0);  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    text-align:center;
}

.card-2{
    top:150px;
    border: solid 1.8px blue;
    border-radius: 20px;
    transition: all ease-out 1s;
    text-align: center;
}

.card-2:hover{
    border:solid 1.8px brown;
}

@media screen and (max-width: 980px) {
    div .card-2{
    display: none;
    }
}

.iconProm{
    width: 85px;
}

.Ordena_Ahora{
    position:relative;
    color: burlywood;
    text-decoration: burlywood;
    left: 18%;
    size: 40px;
    width: 200px;
    height:80px;
}

.Cat_Desayunos{
    position:relative;
    left: 30%;
    size: 40px;
    width: 200px;
    height:90px;
}

@media screen and (max-width: 980px) {
    div .Cat_Desayunos{
    display: none;
    }
}


#fondoOferta{
    background-color: rgb(224, 255, 255);
}


/*---------------------------------*/


/*Follow Us*/

#fondoFollow{
    background-color: #e0e0e0;
}

#Caja1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*---------------------------------*/

/*Suscribete*/

.card-bodySusc{
    border: solid 1.8px rgb(255, 0, 221);
    transition: all ease-out 1s;
    text-align: center;
    height: 280px;
    width: 767px;
}


.card-body2{
    border: solid 1.8px rgb(255, 0, 221);
    transition: all ease-out 1s;
    text-align: center;
    left: 190px;
    width: 750px;
    height: 280px;
}


@media screen and (max-width: 980px) {
    div .card-bodySusc{
    display: none;
    }
}

@media screen and (max-width: 980px) {
    div .card-body2{
    display: none;
    }
}


.figureExcla{
    height: 40px;
    width: 40px;
    position:absolute;
    right: 42%;
}

.e-mail{
    border-radius: 10px;
    width: 450px;
    height: 40px;
}

/*Barra de suscripcion*/

#lname{
    color: black ;
    border: solid 1.8px black;
}
/*---------------------------------*/

#Submit{
    width: 20%;
    border-radius: 150px;
    padding: 15px;
    background: #e6d64baa;
    border: none;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

#Submit:hover{
    background: rgba(219, 155, 82, 0.8);
    color: WHITE; 
}


/*---------------------------------*/


/*Pie de Página*/

.Pie{
    background-color: #e3a0ef;
}

/* Botones de redes sociales*/

.btnRedesFB{
    width:50px;
    height:50px;
    background-color: rgba(0,123,255);
    border-radius: 50px;
  }
.btnRedesWP{
    width:50px;
    height:50px;
    background-color: rgb(14, 141, 25);
    border-radius: 50px;
  }
  .btnRedesIG{
    width:50px;
    height:50px;
    border-radius: 15px;
  }

/*---------------------------------*/



/* css formulario*/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}
.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 12;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns:1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}
}
/*---------------------------------*/


/*Formato img Categorias - Centrado*/

p.centrado {
    text-align: center;
}

.contendor{
    width: 75%;
    margin: auto;
}

.contendor a{
    text-decoration: none;
    color:darkgrey;
}

.contendor a:hover{
    color: black;
}

/*Contenedores Terminos y Condiciones - Ocultar y Mostrar*/

.contendor2{
    width: 95%;
    margin: auto;
}

.contendorTYC{
    width: 97%;
    margin: auto;
}

/*Animacion para las tarjetas de Terminos y Condiciones - Ocultar y Mostrar*/

#card1TYC{
    display: none;
}

#card2TYC{
    display: none;
}

#card3TYC{
    display: none;
}

/*---------------------------------*/
